.bg div{
    position: absolute;
    left:0; top:0;
    z-index: -5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}
.bg {
    position: absolute;
    left:0; top:0;
    z-index: -5;
    
}
.header-bg {
    width: 100vw;
    height: 100vh;
    background-image: url("/img/grid.png");
    background-position: 50% 0%;
}